/* GENERAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1c1f26;
  color: #f4f4f4;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #1c1f26cc;
  backdrop-filter: blur(8px);
  color: #f4f4f4;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header .logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #e50914;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #f4f4f4;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav a:hover,
nav a.active {
  color: #e50914;
}

/* HERO SECTION */
/* HERO SECTION */
.hero {
  position: relative;
  margin-top: 70px;
  height: 90vh;
  overflow: hidden;
}

.hero-slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 80%;
  align-content: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit:fill;
  filter: brightness(0.6);
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.hero-content {
  z-index: 2;
  color: white;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  animation: fadeInDown 2s ease;
}

.hero-content p {
  color: #ccc;
  margin-bottom: 1.5rem;
  animation: fadeIn 3s ease;
}


.hero-content input {
  padding: 0.6rem 1rem;
  width: 250px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.hero-content button {
  padding: 0.6rem 1rem;
  background: #e50914;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-content button:hover {
  background: #b20710;
}

/* TRENDING SECTION */
.trending {
  padding: 3rem 2rem;
}

.trending h2 {
  font-family: 'Montserrat', sans-serif;
  color: #e50914;
  text-align: center;
  margin-bottom: 2rem;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}

/* SIMPLE ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
